.container-fluid {
    height: 145px;
    border: 3px solid hsla(0,0%,100%,0);
}
.row {
    margin-top: 25px;
    border: 3px solid hsla(0,0%,100%,0);
}
.navbar {
    margin: auto;
}
li {
    font-size: 200%;
    margin-right: 20px;
}


.bt-black {
    background-color: black;
}

.t-center {
    text-align: center !important;
}

.add-order {
    background: #f6f6f6;
    padding:30px;
    position: relative;
    margin-top: 70px;
    margin-left: 5%;
    margin-right: 5%;
    /*margin: 50px 0 ;*/
}



.add-order h3 {
    font-size: 45px;
    font-weight: 600;
    color: #666666;
}
/*.add-order{margin-top: 0;}*/

